@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333;
  font-weight: lighter;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: white;
  color: #333;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #fdf9f8;
}

.wrap {
  width: 100vw;
}
.wrap #header {
  width: 100%;
  height: 100px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10000;
  background: hsla(12, 56%, 98%, 0.663);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.wrap #header .hd_left {
  display: flex;
}
.wrap #header .hd_left #hd_title {
  margin-right: 100px;
}
.wrap #header .hd_left #hd_title a {
  display: block;
  width: 111px;
}
.wrap #header .hd_left #hd_title a img {
  width: 111px;
}
.wrap #header .hd_left .gnb {
  display: flex;
}
.wrap #header .hd_left .gnb ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  gap: 50px;
}
.wrap #header .hd_left .gnb ul li a:hover {
  color: #b75a66;
}
.wrap #header .hd_left .mobile_gnb {
  display: none;
}
.wrap #header .hd_right {
  display: flex;
}
.wrap #header .hd_right ul {
  display: flex;
  gap: 30px;
}
.wrap #main {
  width: 100%;
}
.wrap #main .intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}
.wrap #main .intro ul {
  display: flex;
  gap: 10px;
}
.wrap #main .intro ul li {
  width: 16%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
  border-radius: 30px;
}
.wrap #main .intro ul li img {
  width: 100%;
}
.wrap #main .intro ul .li2box {
  width: 32.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap #main .intro ul .li2box p {
  font-size: 20px;
  font-weight: 500;
}
.wrap #main .intro ul .li2box img {
  width: 70%;
}
.wrap #main .intro ul #transparent {
  box-shadow: none;
}
.wrap #main .mobile_intro {
  display: none;
}
.wrap #main .banner {
  margin: 100px 0 150px 0;
  padding: 0 200px;
}
.wrap #main .banner ul {
  display: flex;
  gap: 30px;
}
.wrap #main .banner ul li {
  width: 33.33%;
  position: relative;
  cursor: pointer;
}
.wrap #main .banner ul li img {
  width: 100%;
  border-radius: 30px;
  transition: filter 0.3s ease;
}
.wrap #main .banner ul li .banner_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  color: white;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.wrap #main .banner ul li .banner_txt h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrap #main .banner ul li .banner_txt p strong {
  font-weight: 300;
}
.wrap #main .banner ul li:hover img {
  filter: brightness(80%);
}
.wrap #main .banner ul li:hover .banner_txt {
  display: block;
  opacity: 1;
}
.wrap #main .best {
  padding-left: 200px;
  margin-bottom: 150px;
}
.wrap #main .best h2 {
  font-size: 20px;
  font-weight: 700;
}
.wrap #main .best .bestslide {
  margin-top: 30px;
  padding: 2px;
}
.wrap #main .best .bestslide .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrap #main .best .bestslide .swiper-wrapper .swiper-slide .img_box {
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.wrap #main .best .bestslide .swiper-wrapper .swiper-slide .img_box img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.wrap #main .best .bestslide .swiper-wrapper .swiper-slide .img_box img:hover {
  transform: scale(1.1);
}
.wrap #main .best .bestslide .swiper-wrapper .swiper-slide h4 {
  font-weight: 500;
  margin: 10px 0;
}
.wrap #main .popup {
  padding: 0 200px;
  margin-bottom: 150px;
}
.wrap #main .popup img {
  width: 100%;
}
.wrap #main .popup h2 {
  font-size: 20px;
  font-weight: 700;
}
.wrap #main .popup p {
  font-size: 18px;
  margin-bottom: 30px;
}
.wrap #main .howtouse {
  padding: 0 200px;
  margin-bottom: 180px;
}
.wrap #main .howtouse h2 {
  font-size: 20px;
  font-weight: 700;
}
.wrap #main .howtouse p {
  font-size: 18px;
  margin-bottom: 30px;
}
.wrap #main .howtouse ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.wrap #main .howtouse ul li {
  text-align: center;
  width: 100%;
}
.wrap #main .howtouse ul li .img_box {
  width: 100%;
  height: 380px;
  overflow: hidden;
  margin-bottom: 20px;
}
.wrap #main .howtouse ul li .img_box img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap #main .howtouse ul li .img_box img:hover {
  transform: scale(1.05);
}
.wrap #main .howtouse ul li strong {
  font-size: 20px;
  font-weight: 500;
}
.wrap #main .up_btn {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  background: rgba(183, 90, 102, 0.5254901961);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
.wrap #product_face,
.wrap #product_eye,
.wrap #product_lip,
.wrap #product_tool,
.wrap #product_end {
  padding: 100px 200px 0 200px;
  text-align: center;
}
.wrap #product_face h2,
.wrap #product_eye h2,
.wrap #product_lip h2,
.wrap #product_tool h2,
.wrap #product_end h2 {
  font-size: 23px;
  font-weight: 600;
  margin: 20px 0;
}
.wrap #product_face .product_nav,
.wrap #product_eye .product_nav,
.wrap #product_lip .product_nav,
.wrap #product_tool .product_nav,
.wrap #product_end .product_nav {
  margin-bottom: 60px;
}
.wrap #product_face .product_nav ul,
.wrap #product_eye .product_nav ul,
.wrap #product_lip .product_nav ul,
.wrap #product_tool .product_nav ul,
.wrap #product_end .product_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}
.wrap #product_face .product_nav ul li a:hover,
.wrap #product_eye .product_nav ul li a:hover,
.wrap #product_lip .product_nav ul li a:hover,
.wrap #product_tool .product_nav ul li a:hover,
.wrap #product_end .product_nav ul li a:hover {
  color: #b75a66;
}
.wrap #product_face .product_list,
.wrap #product_eye .product_list,
.wrap #product_lip .product_list,
.wrap #product_tool .product_list,
.wrap #product_end .product_list {
  margin-bottom: 180px;
}
.wrap #product_face .product_list ul,
.wrap #product_eye .product_list ul,
.wrap #product_lip .product_list ul,
.wrap #product_tool .product_list ul,
.wrap #product_end .product_list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}
.wrap #product_face .product_list ul li,
.wrap #product_eye .product_list ul li,
.wrap #product_lip .product_list ul li,
.wrap #product_tool .product_list ul li,
.wrap #product_end .product_list ul li {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.wrap #product_face .product_list ul li .img_box,
.wrap #product_eye .product_list ul li .img_box,
.wrap #product_lip .product_list ul li .img_box,
.wrap #product_tool .product_list ul li .img_box,
.wrap #product_end .product_list ul li .img_box {
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
  border-radius: 30px;
  margin-bottom: 20px;
}
.wrap #product_face .product_list ul li .img_box img,
.wrap #product_eye .product_list ul li .img_box img,
.wrap #product_lip .product_list ul li .img_box img,
.wrap #product_tool .product_list ul li .img_box img,
.wrap #product_end .product_list ul li .img_box img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.wrap #product_face .product_list ul li .img_box img:hover,
.wrap #product_eye .product_list ul li .img_box img:hover,
.wrap #product_lip .product_list ul li .img_box img:hover,
.wrap #product_tool .product_list ul li .img_box img:hover,
.wrap #product_end .product_list ul li .img_box img:hover {
  transform: scale(1.1);
}
.wrap #product_face .product_list ul li strong,
.wrap #product_eye .product_list ul li strong,
.wrap #product_lip .product_list ul li strong,
.wrap #product_tool .product_list ul li strong,
.wrap #product_end .product_list ul li strong {
  font-weight: 500;
  margin: 10px 0;
  display: block;
}
.wrap #product_face .product_list ul li p,
.wrap #product_eye .product_list ul li p,
.wrap #product_lip .product_list ul li p,
.wrap #product_tool .product_list ul li p,
.wrap #product_end .product_list ul li p {
  font-weight: 300;
  font-size: 15px;
  margin: 20px;
}
.wrap #product_face .product_list ul li .best_tag,
.wrap #product_eye .product_list ul li .best_tag,
.wrap #product_lip .product_list ul li .best_tag,
.wrap #product_tool .product_list ul li .best_tag,
.wrap #product_end .product_list ul li .best_tag {
  padding: 7px;
  border: 1px solid #b75a66;
  color: #b75a66;
}
.wrap #product_face .product_list ul li .winter_tag,
.wrap #product_eye .product_list ul li .winter_tag,
.wrap #product_lip .product_list ul li .winter_tag,
.wrap #product_tool .product_list ul li .winter_tag,
.wrap #product_end .product_list ul li .winter_tag {
  padding: 7px;
  border: 1px solid #7dadd4;
  color: #7dadd4;
}
.wrap #product_face .product_list ul li .limit_tag,
.wrap #product_eye .product_list ul li .limit_tag,
.wrap #product_lip .product_list ul li .limit_tag,
.wrap #product_tool .product_list ul li .limit_tag,
.wrap #product_end .product_list ul li .limit_tag {
  padding: 7px;
  border: 1px solid #eeb866;
  color: #eeb866;
}
.wrap #product_face .product_list ul li .new_tag,
.wrap #product_eye .product_list ul li .new_tag,
.wrap #product_lip .product_list ul li .new_tag,
.wrap #product_tool .product_list ul li .new_tag,
.wrap #product_end .product_list ul li .new_tag {
  padding: 7px;
  border: 1px solid #84be93;
  color: #84be93;
}
.wrap #product_face .product_list ul li .re_tag,
.wrap #product_eye .product_list ul li .re_tag,
.wrap #product_lip .product_list ul li .re_tag,
.wrap #product_tool .product_list ul li .re_tag,
.wrap #product_end .product_list ul li .re_tag {
  padding: 7px;
  border: 1px solid #ebaa87;
  color: #ebaa87;
}
.wrap #product_face .banner,
.wrap #product_eye .banner,
.wrap #product_lip .banner,
.wrap #product_tool .banner,
.wrap #product_end .banner {
  display: flex;
  align-items: center;
}
.wrap #product_face .banner img,
.wrap #product_eye .banner img,
.wrap #product_lip .banner img,
.wrap #product_tool .banner img,
.wrap #product_end .banner img {
  width: 80%;
  position: relative;
}
.wrap #product_face .banner .banner_txt,
.wrap #product_eye .banner .banner_txt,
.wrap #product_lip .banner .banner_txt,
.wrap #product_tool .banner .banner_txt,
.wrap #product_end .banner .banner_txt {
  margin-left: 30px;
  text-align: left;
  font-size: 17px;
}
.wrap #product_face .banner .banner_txt strong,
.wrap #product_eye .banner .banner_txt strong,
.wrap #product_lip .banner .banner_txt strong,
.wrap #product_tool .banner .banner_txt strong,
.wrap #product_end .banner .banner_txt strong {
  font-weight: 500;
}
.wrap #product_face .up_btn,
.wrap #product_eye .up_btn,
.wrap #product_lip .up_btn,
.wrap #product_tool .up_btn,
.wrap #product_end .up_btn {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  background: rgba(183, 90, 102, 0.5254901961);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
.wrap #makeup {
  width: 100%;
}
.wrap #makeup .howtouse,
.wrap #makeup .newtonew,
.wrap #makeup .lookbook,
.wrap #makeup .article {
  padding: 100px 200px 0 200px;
}
.wrap #makeup .howtouse h2,
.wrap #makeup .newtonew h2,
.wrap #makeup .lookbook h2,
.wrap #makeup .article h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.wrap #makeup .howtouse p,
.wrap #makeup .newtonew p,
.wrap #makeup .lookbook p,
.wrap #makeup .article p {
  font-size: 18px;
  margin-bottom: 30px;
}
.wrap #makeup .howtouse ul,
.wrap #makeup .newtonew ul,
.wrap #makeup .lookbook ul,
.wrap #makeup .article ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-bottom: 20px;
}
.wrap #makeup .howtouse ul li,
.wrap #makeup .newtonew ul li,
.wrap #makeup .lookbook ul li,
.wrap #makeup .article ul li {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.wrap #makeup .howtouse ul li .img_box,
.wrap #makeup .newtonew ul li .img_box,
.wrap #makeup .lookbook ul li .img_box,
.wrap #makeup .article ul li .img_box {
  width: 100%;
  height: 380px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 8px;
}
.wrap #makeup .howtouse ul li .img_box img,
.wrap #makeup .newtonew ul li .img_box img,
.wrap #makeup .lookbook ul li .img_box img,
.wrap #makeup .article ul li .img_box img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap #makeup .howtouse ul li .img_box img:hover,
.wrap #makeup .newtonew ul li .img_box img:hover,
.wrap #makeup .lookbook ul li .img_box img:hover,
.wrap #makeup .article ul li .img_box img:hover {
  transform: scale(1.05);
}
.wrap #makeup .howtouse ul li strong,
.wrap #makeup .newtonew ul li strong,
.wrap #makeup .lookbook ul li strong,
.wrap #makeup .article ul li strong {
  font-size: 20px;
  font-weight: 500;
}
.wrap #makeup .howtouse .more_btn,
.wrap #makeup .newtonew .more_btn,
.wrap #makeup .lookbook .more_btn,
.wrap #makeup .article .more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap #makeup .howtouse .more_btn button,
.wrap #makeup .newtonew .more_btn button,
.wrap #makeup .lookbook .more_btn button,
.wrap #makeup .article .more_btn button {
  color: #b75a66;
  border: 1px solid #b75a66;
  border-radius: 6px;
  padding: 10px 20px;
}
.wrap #makeup .article {
  margin-bottom: 180px;
}
.wrap #makeup .up_btn {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  background: rgba(183, 90, 102, 0.5254901961);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
.wrap #heva {
  width: 100%;
  padding: 100px 200px 0 200px;
}
.wrap #heva .persnal_color,
.wrap #heva .ai_profile,
.wrap #heva .vertual_makeup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}
.wrap #heva .persnal_color .heva_txt,
.wrap #heva .ai_profile .heva_txt,
.wrap #heva .vertual_makeup .heva_txt {
  width: 60%;
}
.wrap #heva .persnal_color .heva_txt h3,
.wrap #heva .ai_profile .heva_txt h3,
.wrap #heva .vertual_makeup .heva_txt h3 {
  font-size: 20px;
  color: #b75a66;
  font-weight: 700;
  margin-top: 20px;
}
.wrap #heva .persnal_color .heva_txt h2,
.wrap #heva .ai_profile .heva_txt h2,
.wrap #heva .vertual_makeup .heva_txt h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.wrap #heva .persnal_color .heva_txt p,
.wrap #heva .ai_profile .heva_txt p,
.wrap #heva .vertual_makeup .heva_txt p {
  font-size: 18px;
}
.wrap #heva .persnal_color .heva_txt p strong,
.wrap #heva .ai_profile .heva_txt p strong,
.wrap #heva .vertual_makeup .heva_txt p strong {
  font-weight: 600;
}
.wrap #heva .persnal_color .heva_txt span,
.wrap #heva .ai_profile .heva_txt span,
.wrap #heva .vertual_makeup .heva_txt span {
  display: block;
}
.wrap #heva .persnal_color .heva_txt button,
.wrap #heva .ai_profile .heva_txt button,
.wrap #heva .vertual_makeup .heva_txt button {
  margin-top: 30px;
  padding: 20px 0;
}
.wrap #heva .persnal_color .heva_txt button a,
.wrap #heva .ai_profile .heva_txt button a,
.wrap #heva .vertual_makeup .heva_txt button a {
  width: 100%;
  background-color: #b75a66;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
}
.wrap #heva .persnal_color .heva_txt button a:hover,
.wrap #heva .ai_profile .heva_txt button a:hover,
.wrap #heva .vertual_makeup .heva_txt button a:hover {
  background-color: #953b47;
}
.wrap #heva .persnal_color .heva_img,
.wrap #heva .ai_profile .heva_img,
.wrap #heva .vertual_makeup .heva_img {
  width: 40%;
}
.wrap #heva .persnal_color .heva_img img,
.wrap #heva .ai_profile .heva_img img,
.wrap #heva .vertual_makeup .heva_img img {
  width: 100%;
}
.wrap #heva .mobile_ai_profile {
  display: none;
}
.wrap #heva .vertual_makeup {
  margin-bottom: 180px;
}
.wrap #heva .up_btn {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  background: rgba(183, 90, 102, 0.5254901961);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
.wrap #footer {
  width: 100%;
  background-color: #fcf1f1;
  color: #b75a66;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}
.wrap #footer .ft_left {
  padding-left: 200px;
}
.wrap #footer .ft_left p strong {
  font-weight: 500;
}
.wrap #footer .ft_right {
  padding-right: 200px;
}
.wrap #footer .ft_right ul {
  display: flex;
  gap: 20px;
}
.wrap #footer .ft_right ul li {
  width: 30px;
}
.wrap #footer .ft_right ul li img {
  width: 100%;
}

@media (max-width: 1220px) {
  .wrap #header {
    padding: 0 50px;
  }
  .wrap #header .hd_left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap #header .hd_left .gnb {
    display: none;
  }
  .wrap #header .hd_left .mobile_gnb {
    display: block;
    position: relative;
  }
  .wrap #header .hd_left .mobile_gnb .fa-bars {
    font-size: 20px;
    cursor: pointer;
  }
  .wrap #header .hd_left .mobile_gnb ul {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: right;
    right: -30px;
    top: 40px;
    padding-right: 30px;
    background: #fdf9f8;
  }
  .wrap #header .hd_left .mobile_gnb ul li {
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
  }
  .wrap #header .hd_left .mobile_gnb ul li a:hover {
    color: #b75a66;
  }
  .wrap #header .hd_right {
    display: none;
  }
  .wrap #main .intro {
    display: none;
  }
  .wrap #main .mobile_intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
  }
  .wrap #main .mobile_intro ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .wrap #main .mobile_intro ul li {
    width: 15%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
    border-radius: 30px;
  }
  .wrap #main .mobile_intro ul li img {
    width: 100%;
  }
  .wrap #main .mobile_intro p {
    font-size: 20px;
    margin: 20px 0;
  }
  .wrap #main .mobile_intro #logo_img {
    width: 30%;
    margin: 20px 0;
  }
  .wrap #main .banner {
    margin: 0 0 120px 0;
    padding: 0 50px;
  }
  .wrap #main .banner ul {
    flex-direction: column;
  }
  .wrap #main .banner ul li {
    width: 100%;
  }
  .wrap #main .banner ul li img {
    filter: brightness(80%);
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrap #main .banner ul li .banner_txt {
    display: block;
    opacity: 1;
    width: 100%;
  }
  .wrap #main .banner ul li .banner_txt h3 {
    font-size: 20px;
  }
  .wrap #main .banner ul li .banner_txt p {
    font-size: 18px;
  }
  .wrap #main .best {
    padding-left: 50px;
    margin-bottom: 120px;
  }
  .wrap #main .best h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .wrap #main .best p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .wrap #main .popup {
    padding: 0 50px;
    margin-bottom: 120px;
  }
  .wrap #main .popup img {
    width: 100%;
  }
  .wrap #main .popup h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .wrap #main .popup p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .wrap #main .howtouse {
    padding: 0 50px;
    margin-bottom: 180px;
  }
  .wrap #main .howtouse h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .wrap #main .howtouse p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .wrap #main .howtouse ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .wrap #main .howtouse ul li {
    text-align: center;
    width: 100%;
  }
  .wrap #main .howtouse ul li .img_box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .wrap #main .howtouse ul li .img_box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrap #main .howtouse ul li .img_box img:hover {
    transform: scale(1.05);
  }
  .wrap #main .howtouse ul li strong {
    font-size: 20px;
    font-weight: 500;
  }
  .wrap #main .howtouse ul li:nth-child(5),
  .wrap #main .howtouse ul li:last-child {
    display: none;
  }
  .wrap #main .up_btn {
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
  .wrap #product_face,
  .wrap #product_eye,
  .wrap #product_lip,
  .wrap #product_tool,
  .wrap #product_end {
    padding: 100px 50px 0 50px;
  }
  .wrap #product_face h2,
  .wrap #product_eye h2,
  .wrap #product_lip h2,
  .wrap #product_tool h2,
  .wrap #product_end h2 {
    font-size: 23px;
  }
  .wrap #product_face .product_nav,
  .wrap #product_eye .product_nav,
  .wrap #product_lip .product_nav,
  .wrap #product_tool .product_nav,
  .wrap #product_end .product_nav {
    margin-bottom: 40px;
  }
  .wrap #product_face .product_nav ul,
  .wrap #product_eye .product_nav ul,
  .wrap #product_lip .product_nav ul,
  .wrap #product_tool .product_nav ul,
  .wrap #product_end .product_nav ul {
    flex-wrap: nowrap;
    font-size: 18px;
  }
  .wrap #product_face .product_nav ul li,
  .wrap #product_eye .product_nav ul li,
  .wrap #product_lip .product_nav ul li,
  .wrap #product_tool .product_nav ul li,
  .wrap #product_end .product_nav ul li {
    width: 25%;
  }
  .wrap #product_face .product_nav ul li:nth-child(4), .wrap #product_face .product_nav ul li:last-child,
  .wrap #product_eye .product_nav ul li:nth-child(4),
  .wrap #product_eye .product_nav ul li:last-child,
  .wrap #product_lip .product_nav ul li:nth-child(4),
  .wrap #product_lip .product_nav ul li:last-child,
  .wrap #product_tool .product_nav ul li:nth-child(4),
  .wrap #product_tool .product_nav ul li:last-child,
  .wrap #product_end .product_nav ul li:nth-child(4),
  .wrap #product_end .product_nav ul li:last-child {
    width: 30%;
  }
  .wrap #product_face .product_list,
  .wrap #product_eye .product_list,
  .wrap #product_lip .product_list,
  .wrap #product_tool .product_list,
  .wrap #product_end .product_list {
    margin-bottom: 150px;
  }
  .wrap #product_face .product_list ul,
  .wrap #product_eye .product_list ul,
  .wrap #product_lip .product_list ul,
  .wrap #product_tool .product_list ul,
  .wrap #product_end .product_list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
  }
  .wrap #product_face .product_list ul li,
  .wrap #product_eye .product_list ul li,
  .wrap #product_lip .product_list ul li,
  .wrap #product_tool .product_list ul li,
  .wrap #product_end .product_list ul li {
    width: 100%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .wrap #product_face .product_list ul strong,
  .wrap #product_eye .product_list ul strong,
  .wrap #product_lip .product_list ul strong,
  .wrap #product_tool .product_list ul strong,
  .wrap #product_end .product_list ul strong {
    font-weight: 500;
    margin: 10px 0;
    display: block;
  }
  .wrap #product_face .product_list ul p,
  .wrap #product_eye .product_list ul p,
  .wrap #product_lip .product_list ul p,
  .wrap #product_tool .product_list ul p,
  .wrap #product_end .product_list ul p {
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
  }
  .wrap #product_face .up_btn,
  .wrap #product_eye .up_btn,
  .wrap #product_lip .up_btn,
  .wrap #product_tool .up_btn,
  .wrap #product_end .up_btn {
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
  .wrap #product_face .banner,
  .wrap #product_eye .banner,
  .wrap #product_lip .banner,
  .wrap #product_tool .banner,
  .wrap #product_end .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrap #product_face .banner img,
  .wrap #product_eye .banner img,
  .wrap #product_lip .banner img,
  .wrap #product_tool .banner img,
  .wrap #product_end .banner img {
    width: 100%;
    position: relative;
  }
  .wrap #product_face .banner .banner_txt,
  .wrap #product_eye .banner .banner_txt,
  .wrap #product_lip .banner .banner_txt,
  .wrap #product_tool .banner .banner_txt,
  .wrap #product_end .banner .banner_txt {
    width: 100%;
    margin: 20px 0 50px 0;
    text-align: left;
    font-size: 17px;
  }
  .wrap #product_face .banner .banner_txt strong,
  .wrap #product_eye .banner .banner_txt strong,
  .wrap #product_lip .banner .banner_txt strong,
  .wrap #product_tool .banner .banner_txt strong,
  .wrap #product_end .banner .banner_txt strong {
    font-weight: 500;
  }
  .wrap #makeup .howtouse,
  .wrap #makeup .newtonew,
  .wrap #makeup .lookbook,
  .wrap #makeup .article {
    padding: 100px 50px 0 50px;
  }
  .wrap #makeup .howtouse h2,
  .wrap #makeup .newtonew h2,
  .wrap #makeup .lookbook h2,
  .wrap #makeup .article h2 {
    font-size: 20px;
  }
  .wrap #makeup .howtouse p,
  .wrap #makeup .newtonew p,
  .wrap #makeup .lookbook p,
  .wrap #makeup .article p {
    font-size: 18px;
  }
  .wrap #makeup .howtouse ul,
  .wrap #makeup .newtonew ul,
  .wrap #makeup .lookbook ul,
  .wrap #makeup .article ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .wrap #makeup .howtouse ul li:nth-child(5),
  .wrap #makeup .howtouse ul li:last-child,
  .wrap #makeup .newtonew ul li:nth-child(5),
  .wrap #makeup .newtonew ul li:last-child,
  .wrap #makeup .lookbook ul li:nth-child(5),
  .wrap #makeup .lookbook ul li:last-child,
  .wrap #makeup .article ul li:nth-child(5),
  .wrap #makeup .article ul li:last-child {
    display: none;
  }
  .wrap #makeup .article {
    margin-bottom: 180px;
  }
  .wrap #makeup .up_btn {
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
  .wrap #heva {
    width: 100%;
    padding: 100px 50px 0 50px;
  }
  .wrap #heva .persnal_color,
  .wrap #heva .mobile_ai_profile,
  .wrap #heva .vertual_makeup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
  }
  .wrap #heva .persnal_color .heva_txt,
  .wrap #heva .mobile_ai_profile .heva_txt,
  .wrap #heva .vertual_makeup .heva_txt {
    width: 100%;
  }
  .wrap #heva .persnal_color .heva_txt h3,
  .wrap #heva .mobile_ai_profile .heva_txt h3,
  .wrap #heva .vertual_makeup .heva_txt h3 {
    font-size: 18px;
    color: #b75a66;
    font-weight: 700;
    margin-top: 20px;
  }
  .wrap #heva .persnal_color .heva_txt h2,
  .wrap #heva .mobile_ai_profile .heva_txt h2,
  .wrap #heva .vertual_makeup .heva_txt h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .wrap #heva .persnal_color .heva_txt p,
  .wrap #heva .mobile_ai_profile .heva_txt p,
  .wrap #heva .vertual_makeup .heva_txt p {
    font-size: 18px;
  }
  .wrap #heva .persnal_color .heva_txt p strong,
  .wrap #heva .mobile_ai_profile .heva_txt p strong,
  .wrap #heva .vertual_makeup .heva_txt p strong {
    font-weight: 600;
  }
  .wrap #heva .persnal_color .heva_txt span,
  .wrap #heva .mobile_ai_profile .heva_txt span,
  .wrap #heva .vertual_makeup .heva_txt span {
    display: block;
    margin-bottom: 30px;
  }
  .wrap #heva .persnal_color .heva_txt button,
  .wrap #heva .mobile_ai_profile .heva_txt button,
  .wrap #heva .vertual_makeup .heva_txt button {
    margin-top: 30px;
    padding: 20px 0;
  }
  .wrap #heva .persnal_color .heva_txt button a,
  .wrap #heva .mobile_ai_profile .heva_txt button a,
  .wrap #heva .vertual_makeup .heva_txt button a {
    width: 100%;
    background-color: #b75a66;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
  }
  .wrap #heva .persnal_color .heva_txt button a:hover,
  .wrap #heva .mobile_ai_profile .heva_txt button a:hover,
  .wrap #heva .vertual_makeup .heva_txt button a:hover {
    background-color: #953b47;
  }
  .wrap #heva .persnal_color .heva_img,
  .wrap #heva .mobile_ai_profile .heva_img,
  .wrap #heva .vertual_makeup .heva_img {
    width: 100%;
  }
  .wrap #heva .persnal_color .heva_img img,
  .wrap #heva .mobile_ai_profile .heva_img img,
  .wrap #heva .vertual_makeup .heva_img img {
    width: 100%;
  }
  .wrap #heva .ai_profile {
    display: none;
  }
  .wrap #heva .vertual_makeup {
    margin-bottom: 180px;
  }
  .wrap #heva .up_btn {
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
  .wrap #footer {
    flex-direction: column;
  }
  .wrap #footer .ft_left {
    padding-left: 30px;
  }
  .wrap #footer .ft_left p strong {
    font-weight: 500;
  }
  .wrap #footer .ft_right {
    padding-left: 50px;
    margin-top: 30px;
  }
}
@media (max-width: 720px) {
  .wrap #header {
    padding: 0 30px;
  }
  .wrap #header .hd_left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap #header .hd_left .gnb {
    display: none;
  }
  .wrap #header .hd_left .mobile_gnb {
    display: block;
    position: relative;
  }
  .wrap #header .hd_left .mobile_gnb .fa-bars {
    font-size: 20px;
    cursor: pointer;
  }
  .wrap #header .hd_left .mobile_gnb ul {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: right;
    right: -30px;
    top: 40px;
    padding-right: 30px;
    background: #fdf9f8;
  }
  .wrap #header .hd_left .mobile_gnb ul li {
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2;
  }
  .wrap #header .hd_left .mobile_gnb ul li a:hover {
    color: #b75a66;
  }
  .wrap #header .hd_right {
    display: none;
  }
  .wrap #main .intro {
    display: none;
  }
  .wrap #main .mobile_intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
  }
  .wrap #main .mobile_intro ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .wrap #main .mobile_intro ul li {
    width: 27%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
    border-radius: 30px;
  }
  .wrap #main .mobile_intro ul li img {
    width: 100%;
  }
  .wrap #main .mobile_intro p {
    font-size: 20px;
    margin: 20px 0;
  }
  .wrap #main .mobile_intro #logo_img {
    width: 40%;
    margin: 20px 0;
  }
  .wrap #main .banner {
    margin: 0 0 100px 0;
    padding: 0 30px;
  }
  .wrap #main .banner ul {
    flex-direction: column;
  }
  .wrap #main .banner ul li {
    width: 100%;
  }
  .wrap #main .banner ul li img {
    filter: brightness(80%);
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrap #main .banner ul li .banner_txt {
    display: block;
    opacity: 1;
    width: 100%;
  }
  .wrap #main .banner ul li .banner_txt h3 {
    font-size: 20px;
  }
  .wrap #main .banner ul li .banner_txt p {
    font-size: 18px;
  }
  .wrap #main .best {
    padding-left: 30px;
    margin-bottom: 100px;
  }
  .wrap #main .best h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .wrap #main .best p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .wrap #main .popup {
    padding: 0 30px;
    margin-bottom: 100px;
  }
  .wrap #main .popup img {
    width: 100%;
  }
  .wrap #main .popup h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .wrap #main .popup p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .wrap #main .howtouse {
    padding: 0 30px;
    margin-bottom: 150px;
  }
  .wrap #main .howtouse h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .wrap #main .howtouse p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .wrap #main .howtouse ul li {
    text-align: center;
    width: 100%;
  }
  .wrap #main .howtouse ul li .img_box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .wrap #main .howtouse ul li .img_box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrap #main .howtouse ul li .img_box img:hover {
    transform: scale(1.05);
  }
  .wrap #main .howtouse ul li strong {
    font-size: 20px;
    font-weight: 500;
  }
  .wrap #main .howtouse ul li:nth-child(5),
  .wrap #main .howtouse ul li:last-child {
    display: none;
  }
  .wrap #main .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #product_face,
  .wrap #product_eye,
  .wrap #product_lip,
  .wrap #product_tool,
  .wrap #product_end {
    padding: 100px 30px 0 30px;
  }
  .wrap #product_face h2,
  .wrap #product_eye h2,
  .wrap #product_lip h2,
  .wrap #product_tool h2,
  .wrap #product_end h2 {
    font-size: 23px;
  }
  .wrap #product_face .product_nav,
  .wrap #product_eye .product_nav,
  .wrap #product_lip .product_nav,
  .wrap #product_tool .product_nav,
  .wrap #product_end .product_nav {
    margin-bottom: 40px;
  }
  .wrap #product_face .product_nav ul,
  .wrap #product_eye .product_nav ul,
  .wrap #product_lip .product_nav ul,
  .wrap #product_tool .product_nav ul,
  .wrap #product_end .product_nav ul {
    flex-wrap: wrap;
    font-size: 18px;
  }
  .wrap #product_face .product_nav ul li,
  .wrap #product_eye .product_nav ul li,
  .wrap #product_lip .product_nav ul li,
  .wrap #product_tool .product_nav ul li,
  .wrap #product_end .product_nav ul li {
    width: 25%;
  }
  .wrap #product_face .product_nav ul li:nth-child(4), .wrap #product_face .product_nav ul li:last-child,
  .wrap #product_eye .product_nav ul li:nth-child(4),
  .wrap #product_eye .product_nav ul li:last-child,
  .wrap #product_lip .product_nav ul li:nth-child(4),
  .wrap #product_lip .product_nav ul li:last-child,
  .wrap #product_tool .product_nav ul li:nth-child(4),
  .wrap #product_tool .product_nav ul li:last-child,
  .wrap #product_end .product_nav ul li:nth-child(4),
  .wrap #product_end .product_nav ul li:last-child {
    width: 30%;
  }
  .wrap #product_face .product_list,
  .wrap #product_eye .product_list,
  .wrap #product_lip .product_list,
  .wrap #product_tool .product_list,
  .wrap #product_end .product_list {
    margin-bottom: 150px;
  }
  .wrap #product_face .product_list ul,
  .wrap #product_eye .product_list ul,
  .wrap #product_lip .product_list ul,
  .wrap #product_tool .product_list ul,
  .wrap #product_end .product_list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
  }
  .wrap #product_face .product_list ul li,
  .wrap #product_eye .product_list ul li,
  .wrap #product_lip .product_list ul li,
  .wrap #product_tool .product_list ul li,
  .wrap #product_end .product_list ul li {
    width: 100%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .wrap #product_face .product_list ul strong,
  .wrap #product_eye .product_list ul strong,
  .wrap #product_lip .product_list ul strong,
  .wrap #product_tool .product_list ul strong,
  .wrap #product_end .product_list ul strong {
    font-weight: 500;
    margin: 10px 0;
    display: block;
  }
  .wrap #product_face .product_list ul p,
  .wrap #product_eye .product_list ul p,
  .wrap #product_lip .product_list ul p,
  .wrap #product_tool .product_list ul p,
  .wrap #product_end .product_list ul p {
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
  }
  .wrap #product_face .up_btn,
  .wrap #product_eye .up_btn,
  .wrap #product_lip .up_btn,
  .wrap #product_tool .up_btn,
  .wrap #product_end .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #product_face .banner,
  .wrap #product_eye .banner,
  .wrap #product_lip .banner,
  .wrap #product_tool .banner,
  .wrap #product_end .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrap #product_face .banner img,
  .wrap #product_eye .banner img,
  .wrap #product_lip .banner img,
  .wrap #product_tool .banner img,
  .wrap #product_end .banner img {
    width: 100%;
    position: relative;
  }
  .wrap #product_face .banner .banner_txt,
  .wrap #product_eye .banner .banner_txt,
  .wrap #product_lip .banner .banner_txt,
  .wrap #product_tool .banner .banner_txt,
  .wrap #product_end .banner .banner_txt {
    width: 100%;
    margin: 20px 0 50px 0;
    text-align: left;
    font-size: 17px;
  }
  .wrap #product_face .banner .banner_txt strong,
  .wrap #product_eye .banner .banner_txt strong,
  .wrap #product_lip .banner .banner_txt strong,
  .wrap #product_tool .banner .banner_txt strong,
  .wrap #product_end .banner .banner_txt strong {
    font-weight: 500;
  }
  .wrap #makeup .howtouse,
  .wrap #makeup .newtonew,
  .wrap #makeup .lookbook,
  .wrap #makeup .article {
    padding: 100px 30px 0 30px;
  }
  .wrap #makeup .howtouse h2,
  .wrap #makeup .newtonew h2,
  .wrap #makeup .lookbook h2,
  .wrap #makeup .article h2 {
    font-size: 20px;
  }
  .wrap #makeup .howtouse p,
  .wrap #makeup .newtonew p,
  .wrap #makeup .lookbook p,
  .wrap #makeup .article p {
    font-size: 18px;
  }
  .wrap #makeup .howtouse ul,
  .wrap #makeup .newtonew ul,
  .wrap #makeup .lookbook ul,
  .wrap #makeup .article ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .wrap #makeup .howtouse ul li:nth-child(5),
  .wrap #makeup .howtouse ul li:last-child,
  .wrap #makeup .newtonew ul li:nth-child(5),
  .wrap #makeup .newtonew ul li:last-child,
  .wrap #makeup .lookbook ul li:nth-child(5),
  .wrap #makeup .lookbook ul li:last-child,
  .wrap #makeup .article ul li:nth-child(5),
  .wrap #makeup .article ul li:last-child {
    display: none;
  }
  .wrap #makeup .article {
    margin-bottom: 150px;
  }
  .wrap #makeup .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #heva {
    width: 100%;
    padding: 100px 30px 0 30px;
  }
  .wrap #heva .persnal_color,
  .wrap #heva .mobile_ai_profile,
  .wrap #heva .vertual_makeup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
  }
  .wrap #heva .persnal_color .heva_txt,
  .wrap #heva .mobile_ai_profile .heva_txt,
  .wrap #heva .vertual_makeup .heva_txt {
    width: 100%;
  }
  .wrap #heva .persnal_color .heva_txt h3,
  .wrap #heva .mobile_ai_profile .heva_txt h3,
  .wrap #heva .vertual_makeup .heva_txt h3 {
    font-size: 18px;
    color: #b75a66;
    font-weight: 700;
    margin-top: 20px;
  }
  .wrap #heva .persnal_color .heva_txt h2,
  .wrap #heva .mobile_ai_profile .heva_txt h2,
  .wrap #heva .vertual_makeup .heva_txt h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .wrap #heva .persnal_color .heva_txt p,
  .wrap #heva .mobile_ai_profile .heva_txt p,
  .wrap #heva .vertual_makeup .heva_txt p {
    font-size: 18px;
  }
  .wrap #heva .persnal_color .heva_txt p strong,
  .wrap #heva .mobile_ai_profile .heva_txt p strong,
  .wrap #heva .vertual_makeup .heva_txt p strong {
    font-weight: 600;
  }
  .wrap #heva .persnal_color .heva_txt span,
  .wrap #heva .mobile_ai_profile .heva_txt span,
  .wrap #heva .vertual_makeup .heva_txt span {
    display: block;
    margin-bottom: 30px;
  }
  .wrap #heva .persnal_color .heva_txt button,
  .wrap #heva .mobile_ai_profile .heva_txt button,
  .wrap #heva .vertual_makeup .heva_txt button {
    margin-top: 30px;
    padding: 20px 0;
  }
  .wrap #heva .persnal_color .heva_txt button a,
  .wrap #heva .mobile_ai_profile .heva_txt button a,
  .wrap #heva .vertual_makeup .heva_txt button a {
    width: 100%;
    background-color: #b75a66;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
  }
  .wrap #heva .persnal_color .heva_txt button a:hover,
  .wrap #heva .mobile_ai_profile .heva_txt button a:hover,
  .wrap #heva .vertual_makeup .heva_txt button a:hover {
    background-color: #953b47;
  }
  .wrap #heva .persnal_color .heva_img,
  .wrap #heva .mobile_ai_profile .heva_img,
  .wrap #heva .vertual_makeup .heva_img {
    width: 100%;
  }
  .wrap #heva .persnal_color .heva_img img,
  .wrap #heva .mobile_ai_profile .heva_img img,
  .wrap #heva .vertual_makeup .heva_img img {
    width: 100%;
  }
  .wrap #heva .ai_profile {
    display: none;
  }
  .wrap #heva .vertual_makeup {
    margin-bottom: 150px;
  }
  .wrap #heva .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #footer {
    flex-direction: column;
  }
  .wrap #footer .ft_left {
    padding-left: 30px;
  }
  .wrap #footer .ft_left p strong {
    font-weight: 500;
  }
  .wrap #footer .ft_right {
    padding-left: 50px;
    margin-top: 30px;
  }
}
@media (max-width: 360px) {
  .wrap #header {
    padding: 0 30px;
  }
  .wrap #header .hd_left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap #header .hd_left .gnb {
    display: none;
  }
  .wrap #header .hd_left .mobile_gnb {
    display: block;
    position: relative;
  }
  .wrap #header .hd_left .mobile_gnb .fa-bars {
    font-size: 20px;
    cursor: pointer;
  }
  .wrap #header .hd_left .mobile_gnb ul {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: right;
    right: -30px;
    top: 40px;
    padding-right: 30px;
    background: #fdf9f8;
  }
  .wrap #header .hd_left .mobile_gnb ul li {
    font-weight: 600;
    font-size: 17px;
    line-height: 2.2;
  }
  .wrap #header .hd_left .mobile_gnb ul li a:hover {
    color: #b75a66;
  }
  .wrap #header .hd_right {
    display: none;
  }
  .wrap #main .intro {
    display: none;
  }
  .wrap #main .mobile_intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
  }
  .wrap #main .mobile_intro ul {
    display: flex;
    gap: 10px;
  }
  .wrap #main .mobile_intro ul li {
    width: 34%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.199);
    border-radius: 30px;
  }
  .wrap #main .mobile_intro ul li img {
    width: 100%;
  }
  .wrap #main .mobile_intro p {
    font-size: 20px;
    margin: 20px 0;
  }
  .wrap #main .mobile_intro #logo_img {
    width: 70% !important;
    margin: 20px 0;
  }
  .wrap #main .banner {
    margin: 0 0 100px 0;
    padding: 0 30px;
  }
  .wrap #main .banner ul {
    flex-direction: column;
  }
  .wrap #main .banner ul li {
    width: 100%;
  }
  .wrap #main .banner ul li img {
    filter: brightness(80%);
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrap #main .banner ul li .banner_txt {
    display: block;
    opacity: 1;
    width: 100%;
  }
  .wrap #main .banner ul li .banner_txt h3 {
    font-size: 18px;
  }
  .wrap #main .banner ul li .banner_txt p {
    font-size: 16px;
  }
  .wrap #main .best {
    padding-left: 30px;
    margin-bottom: 100px;
  }
  .wrap #main .best h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .wrap #main .best p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .wrap #main .popup {
    padding: 0 30px;
    margin-bottom: 100px;
  }
  .wrap #main .popup img {
    width: 100%;
  }
  .wrap #main .popup h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .wrap #main .popup p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .wrap #main .howtouse {
    padding: 0 30px;
    margin-bottom: 150px;
  }
  .wrap #main .howtouse h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .wrap #main .howtouse p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .wrap #main .howtouse ul li {
    text-align: center;
    width: 100%;
  }
  .wrap #main .howtouse ul li .img_box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .wrap #main .howtouse ul li .img_box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrap #main .howtouse ul li .img_box img:hover {
    transform: scale(1.05);
  }
  .wrap #main .howtouse ul li strong {
    font-size: 18px;
    font-weight: 500;
  }
  .wrap #main .howtouse ul li:nth-child(4),
  .wrap #main .howtouse ul li:nth-child(5),
  .wrap #main .howtouse ul li:last-child {
    display: none;
  }
  .wrap #main .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #product_face,
  .wrap #product_eye,
  .wrap #product_lip,
  .wrap #product_tool,
  .wrap #product_end {
    padding: 100px 30px 0 30px;
  }
  .wrap #product_face h2,
  .wrap #product_eye h2,
  .wrap #product_lip h2,
  .wrap #product_tool h2,
  .wrap #product_end h2 {
    font-size: 20px;
  }
  .wrap #product_face .product_nav,
  .wrap #product_eye .product_nav,
  .wrap #product_lip .product_nav,
  .wrap #product_tool .product_nav,
  .wrap #product_end .product_nav {
    margin-bottom: 40px;
  }
  .wrap #product_face .product_nav ul,
  .wrap #product_eye .product_nav ul,
  .wrap #product_lip .product_nav ul,
  .wrap #product_tool .product_nav ul,
  .wrap #product_end .product_nav ul {
    flex-wrap: wrap;
    font-size: 16px;
  }
  .wrap #product_face .product_nav ul li,
  .wrap #product_eye .product_nav ul li,
  .wrap #product_lip .product_nav ul li,
  .wrap #product_tool .product_nav ul li,
  .wrap #product_end .product_nav ul li {
    width: 25%;
  }
  .wrap #product_face .product_nav ul li:nth-child(4), .wrap #product_face .product_nav ul li:last-child,
  .wrap #product_eye .product_nav ul li:nth-child(4),
  .wrap #product_eye .product_nav ul li:last-child,
  .wrap #product_lip .product_nav ul li:nth-child(4),
  .wrap #product_lip .product_nav ul li:last-child,
  .wrap #product_tool .product_nav ul li:nth-child(4),
  .wrap #product_tool .product_nav ul li:last-child,
  .wrap #product_end .product_nav ul li:nth-child(4),
  .wrap #product_end .product_nav ul li:last-child {
    width: 30%;
  }
  .wrap #product_face .product_list,
  .wrap #product_eye .product_list,
  .wrap #product_lip .product_list,
  .wrap #product_tool .product_list,
  .wrap #product_end .product_list {
    margin-bottom: 150px;
  }
  .wrap #product_face .product_list ul,
  .wrap #product_eye .product_list ul,
  .wrap #product_lip .product_list ul,
  .wrap #product_tool .product_list ul,
  .wrap #product_end .product_list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
  }
  .wrap #product_face .product_list ul li,
  .wrap #product_eye .product_list ul li,
  .wrap #product_lip .product_list ul li,
  .wrap #product_tool .product_list ul li,
  .wrap #product_end .product_list ul li {
    width: 100%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .wrap #product_face .product_list ul strong,
  .wrap #product_eye .product_list ul strong,
  .wrap #product_lip .product_list ul strong,
  .wrap #product_tool .product_list ul strong,
  .wrap #product_end .product_list ul strong {
    font-weight: 500;
    margin: 10px 0;
    display: block;
  }
  .wrap #product_face .product_list ul p,
  .wrap #product_eye .product_list ul p,
  .wrap #product_lip .product_list ul p,
  .wrap #product_tool .product_list ul p,
  .wrap #product_end .product_list ul p {
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
  }
  .wrap #product_face .up_btn,
  .wrap #product_eye .up_btn,
  .wrap #product_lip .up_btn,
  .wrap #product_tool .up_btn,
  .wrap #product_end .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #product_face .banner,
  .wrap #product_eye .banner,
  .wrap #product_lip .banner,
  .wrap #product_tool .banner,
  .wrap #product_end .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrap #product_face .banner img,
  .wrap #product_eye .banner img,
  .wrap #product_lip .banner img,
  .wrap #product_tool .banner img,
  .wrap #product_end .banner img {
    width: 100%;
    position: relative;
  }
  .wrap #product_face .banner .banner_txt,
  .wrap #product_eye .banner .banner_txt,
  .wrap #product_lip .banner .banner_txt,
  .wrap #product_tool .banner .banner_txt,
  .wrap #product_end .banner .banner_txt {
    width: 100%;
    margin: 20px 0 50px 0;
    text-align: left;
    font-size: 17px;
  }
  .wrap #product_face .banner .banner_txt strong,
  .wrap #product_eye .banner .banner_txt strong,
  .wrap #product_lip .banner .banner_txt strong,
  .wrap #product_tool .banner .banner_txt strong,
  .wrap #product_end .banner .banner_txt strong {
    font-weight: 500;
  }
  .wrap #makeup .howtouse,
  .wrap #makeup .newtonew,
  .wrap #makeup .lookbook,
  .wrap #makeup .article {
    padding: 100px 30px 0 30px;
  }
  .wrap #makeup .howtouse h2,
  .wrap #makeup .newtonew h2,
  .wrap #makeup .lookbook h2,
  .wrap #makeup .article h2 {
    font-size: 18px;
  }
  .wrap #makeup .howtouse p,
  .wrap #makeup .newtonew p,
  .wrap #makeup .lookbook p,
  .wrap #makeup .article p {
    font-size: 16px;
  }
  .wrap #makeup .howtouse ul,
  .wrap #makeup .newtonew ul,
  .wrap #makeup .lookbook ul,
  .wrap #makeup .article ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .wrap #makeup .howtouse ul li:nth-child(4),
  .wrap #makeup .howtouse ul li:nth-child(5),
  .wrap #makeup .howtouse ul li:last-child,
  .wrap #makeup .newtonew ul li:nth-child(4),
  .wrap #makeup .newtonew ul li:nth-child(5),
  .wrap #makeup .newtonew ul li:last-child,
  .wrap #makeup .lookbook ul li:nth-child(4),
  .wrap #makeup .lookbook ul li:nth-child(5),
  .wrap #makeup .lookbook ul li:last-child,
  .wrap #makeup .article ul li:nth-child(4),
  .wrap #makeup .article ul li:nth-child(5),
  .wrap #makeup .article ul li:last-child {
    display: none;
  }
  .wrap #makeup .article {
    margin-bottom: 150px;
  }
  .wrap #makeup .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #heva {
    width: 100%;
    padding: 100px 30px 0 30px;
  }
  .wrap #heva .persnal_color,
  .wrap #heva .mobile_ai_profile,
  .wrap #heva .vertual_makeup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
  }
  .wrap #heva .persnal_color .heva_txt,
  .wrap #heva .mobile_ai_profile .heva_txt,
  .wrap #heva .vertual_makeup .heva_txt {
    width: 100%;
  }
  .wrap #heva .persnal_color .heva_txt h3,
  .wrap #heva .mobile_ai_profile .heva_txt h3,
  .wrap #heva .vertual_makeup .heva_txt h3 {
    font-size: 16px;
    color: #b75a66;
    font-weight: 700;
    margin-top: 20px;
  }
  .wrap #heva .persnal_color .heva_txt h2,
  .wrap #heva .mobile_ai_profile .heva_txt h2,
  .wrap #heva .vertual_makeup .heva_txt h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .wrap #heva .persnal_color .heva_txt p,
  .wrap #heva .mobile_ai_profile .heva_txt p,
  .wrap #heva .vertual_makeup .heva_txt p {
    font-size: 16px;
  }
  .wrap #heva .persnal_color .heva_txt p strong,
  .wrap #heva .mobile_ai_profile .heva_txt p strong,
  .wrap #heva .vertual_makeup .heva_txt p strong {
    font-weight: 600;
  }
  .wrap #heva .persnal_color .heva_txt span,
  .wrap #heva .mobile_ai_profile .heva_txt span,
  .wrap #heva .vertual_makeup .heva_txt span {
    display: block;
    margin-bottom: 30px;
  }
  .wrap #heva .persnal_color .heva_txt button,
  .wrap #heva .mobile_ai_profile .heva_txt button,
  .wrap #heva .vertual_makeup .heva_txt button {
    margin-top: 30px;
    padding: 20px 0;
  }
  .wrap #heva .persnal_color .heva_txt button a,
  .wrap #heva .mobile_ai_profile .heva_txt button a,
  .wrap #heva .vertual_makeup .heva_txt button a {
    width: 100%;
    background-color: #b75a66;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
  }
  .wrap #heva .persnal_color .heva_txt button a:hover,
  .wrap #heva .mobile_ai_profile .heva_txt button a:hover,
  .wrap #heva .vertual_makeup .heva_txt button a:hover {
    background-color: #953b47;
  }
  .wrap #heva .persnal_color .heva_img,
  .wrap #heva .mobile_ai_profile .heva_img,
  .wrap #heva .vertual_makeup .heva_img {
    width: 100%;
  }
  .wrap #heva .persnal_color .heva_img img,
  .wrap #heva .mobile_ai_profile .heva_img img,
  .wrap #heva .vertual_makeup .heva_img img {
    width: 100%;
  }
  .wrap #heva .ai_profile {
    display: none;
  }
  .wrap #heva .vertual_makeup {
    margin-bottom: 150px;
  }
  .wrap #heva .up_btn {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
  .wrap #footer {
    flex-direction: column;
  }
  .wrap #footer .ft_left {
    padding-left: 30px;
  }
  .wrap #footer .ft_left p strong {
    font-weight: 500;
  }
  .wrap #footer .ft_right {
    padding-left: 30px;
    margin-top: 30px;
  }
}/*# sourceMappingURL=comm.css.map */